*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "PT Sans Caption", sans-serif;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  margin-bottom: 15px;
}

header img {
  width: 100%;
  max-width: 100px;
}

header nav a {
  text-decoration: none;
  color: black;
  font-size: 22px;
}

header input {
  border: 1px solid #818181;
  border-radius: 10px;
  padding: 5px 30px 5px 10px;

}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.nav-bar {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  column-gap: 120px;
  align-items: center;
}

.drop-bar {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}

.title {
  font-family: "Archivo Black", sans-serif;
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  color: black;
  font-size: 56px;
  font-weight: 500;
  background: white;
  border-radius: 60px;
  padding: 0 20px;
  border: 4px solid #818181;
  text-decoration: none;
}


.line {
  width: 100%;
  border-bottom: 4px solid #818181;
  overflow: hidden;
  position: relative;
}

.choise-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  margin-bottom: 80px;
  padding: 0 20px 0 20px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  column-gap: 10px;
  align-items: flex-start;
  border: 2px solid #818181;
  border-radius: 20px;
  margin: 10px;
  max-width: 650px;
  height: 400px;
  transition: transform .2s ease-in-out
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  border-radius: 19px;
}

.card h3 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  position: absolute;
  top: 25%;
  z-index: 2;
  transform: translateY(50%);
  text-align: center;
  margin: 8px 0;
  color: black;
  font-size: 64px;

}

.Analysts h3,
.Explorers h3 {
  left: 24%;
}

.Diplomats h3,
.Sentinels h3 {
  left: 16%;
}

.Diplomats .Analysts .Sentinels .Explorers {
  background: #FFF;
}

.Diplomats {
  background: radial-gradient(circle, rgba(255, 255, 255, 1) 60%, rgba(147, 255, 135, 1) 100%);
}

.Diplomats h3::after {
  content: url(/img/icon/diplomats.png);
  align-items: center;
}

.Analysts {
  background: radial-gradient(circle, rgba(255, 255, 255, 1) 60%, rgba(252, 158, 255, 1) 100%);
}

.Analysts h3::after {
  content: url(/img/icon/analysts.png);
  align-items: center;
}

.Sentinels {
  background: radial-gradient(circle, rgba(255, 255, 255, 1) 60%, rgba(158, 228, 255, 1) 100%);
}

.Sentinels h3::after {
  content: url(/img/icon/sentinel.png);
  align-items: center;
}

.Explorers {
  background: radial-gradient(circle, rgba(255, 255, 255, 1) 60%, rgba(247, 255, 158, 1) 100%);
}

.Explorers h3::after {
  content: url(/img/icon/explorer.png);
  align-items: center;
}

.description-section,
.video-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  margin-bottom: 80px;

}

.video-section {
  padding: 10px 30px;
}

.video-section video,
.video-section img {
  width: 100%;
  max-width: 680px;
  border-radius: 20px;
}

.description-section article {
  font-size: 24px;
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  border-left: 20px solid #818181;
}

.description-section img {
  width: 100%;
  max-width: 400px;
  margin-right: auto;
  border-radius: 20px;
}

.aestetic-section {
  margin: 20px auto;
  justify-self: center;
  border-radius: 20px;
}