* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "PT Sans Caption", sans-serif;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  margin-bottom: 15px;
}
header img {
  width: 100%;
  max-width: 100px;
}
header nav a {
  text-decoration: none;
  color: black;
  font-size: 22px;
}
header input {
  border: 1px solid;
  border-radius: 10px;
  padding: 5px 30px 5px 10px;
}
header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
header .nav-bar {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  -moz-column-gap: 120px;
       column-gap: 120px;
  align-items: center;
}
header #burger {
  display: none;
}
@media (max-width: 1000px) {
  header .nav-bar {
    display: none;
  }
  header #burger {
    display: block;
  }
}

.drop-bar {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}
.drop-bar .title {
  font-family: "Archivo Black", sans-serif;
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  color: black;
  font-size: 56px;
  font-weight: 500;
  background: rgb(255, 255, 255);
  border-radius: 60px;
  padding: 0 20px;
  border: 4px solid #818181;
  text-decoration: none;
}
.drop-bar .line {
  width: 100%;
  border-bottom: 4px solid #818181;
  overflow: hidden;
  position: relative;
}
@media (max-width: 1300px) {
  .drop-bar .title {
    font-size: 36px;
  }
}
@media (max-width: 850px) {
  .drop-bar .title {
    font-size: 28px;
    bottom: -20px;
  }
}

.choise-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  width: 100%;
  margin-bottom: 80px;
  padding: 0 20px 0 20px;
}
.choise-section .card {
  position: relative;
  display: flex;
  flex-direction: column;
  -moz-column-gap: 10px;
       column-gap: 10px;
  align-items: flex-start;
  border: 2px solid #818181;
  border-radius: 20px;
  margin: 10px;
  width: 650px;
  height: 400px;
  transition: transform 0.2s ease-in-out;
}
.choise-section .card:hover {
  transform: scale(1.05);
}
.choise-section .card img {
  width: 100%;
  border-radius: 19px;
}
.choise-section .card h3 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  position: absolute;
  top: 25%;
  z-index: 2;
  transform: translateY(50%);
  text-align: center;
  margin: 8px 0;
  color: black;
  font-size: 64px;
}
.choise-section .card.Analysts {
  background: radial-gradient(circle, rgb(255, 255, 255) 60%, rgb(252, 158, 255) 100%);
}
.choise-section .card.Analysts h3::after {
  content: url("/img/icon/analysts.png");
  align-items: center;
}
.choise-section .card.Diplomats {
  background: radial-gradient(circle, rgb(255, 255, 255) 60%, rgb(147, 255, 135) 100%);
}
.choise-section .card.Diplomats h3::after {
  content: url("/img/icon/diplomats.png");
  align-items: center;
}
.choise-section .card.Explorers {
  background: radial-gradient(circle, rgb(255, 255, 255) 60%, rgb(247, 255, 158) 100%);
}
.choise-section .card.Explorers h3::after {
  content: url("/img/icon/explorer.png");
  align-items: center;
}
.choise-section .card.Sentinels {
  background: radial-gradient(circle, rgb(255, 255, 255) 60%, rgb(158, 228, 255) 100%);
}
.choise-section .card.Sentinels h3::after {
  content: url("/img/icon/sentinel.png");
  align-items: center;
}
@media (max-width: 1380px) {
  .choise-section {
    grid-template-columns: 1fr;
  }
}

.Analysts h3,
.Explorers h3 {
  left: 24%;
}

.Diplomats h3,
.Sentinels h3 {
  left: 16%;
}

.description-section, .video-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  margin-bottom: 80px;
}
.description-section article, .video-section article {
  font-size: 24px;
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  border-left: 20px solid #818181;
}
.description-section img, .video-section img {
  width: 100%;
  max-width: 400px;
  margin-right: auto;
  border-radius: 20px;
}

.video-section {
  padding: 10px 30px;
}
.video-section video,
.video-section img {
  width: 100%;
  max-width: 680px;
  border-radius: 20px;
}
@media (max-width: 1380px) {
  .video-section {
    flex-direction: column;
    gap: 30px;
  }
}

.aestetic-section {
  margin: 20px auto;
  justify-self: center;
  border-radius: 20px;
}/*# sourceMappingURL=main.css.map */